{% extends 'base.html' %}
{% block content %}
    <h2>Upcoming Flights</h2>
    <ul>
        {% for flight in upcoming %}
            <li class="flight-card">
                <a href="{{ url_for('flights.view_flight', id=flight.id) }}">
                    <p>Flight for {{ flight.flyer_name }}</p>
                    <p>{{ flight.airline }} - Flight {{ flight.flight_number }}</p>
                    ({{ flight.departure_time.strftime('%Y-%m-%d %H:%M') }} - 
                    {{ flight.arrival_time.strftime('%Y-%m-%d %H:%M') }})
                </a>
            </li>
        {% else %}
            <li>No upcoming flights yet. Add one!</li>
        {% endfor %}
        
    </ul>
    <a href="{{ url_for('flights.add_flight') }}">Add a flight</a>

    <h2>Past Flights</h2>
    <ul>
        {% for flight in past %}
            <li class="flight-card">
                <p>Flight for {{ flight.flyer_name }}</p>
                <p>{{ flight.airline }} - Flight {{ flight.flight_number }}</p>
                ({{ flight.departure_time.strftime('%Y-%m-%d %H:%M') }} - 
                {{ flight.arrival_time.strftime('%Y-%m-%d %H:%M') }})
            </li>
        {% else %}
            <li>No past flights yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
